# Environment variables for AACHARYA CAFE website
NEXT_PUBLIC_SITE_URL=https://aacharyacafe.com
NEXT_PUBLIC_PHONE=+919019936889
NEXT_PUBLIC_WHATSAPP=919019936889
NEXT_PUBLIC_SWIGGY_URL=https://www.swiggy.com/direct/brand/741309?source=swiggy-direct&subSource=google
